---
// Librerias
import { Image } from "astro:assets";

// Componentes
import Heading from "../elements/Heading.astro";
import NewsletterForm from "../forms/NewsletterForm.astro";
import Section from "../elements/Section.astro";
import TestimonioCard from "./TestimonioCard.astro";

// Imágenes
import Bodyshot from "../../assets/hero/bodyshot.png";
import NewsletterFormMailerLite from "../forms/NewsletterFormMailerLite.astro";
---

<Section>
  <div
    class="mx-auto flex max-w-fit justify-center gap-8 border-b border-skin-base-shade dark:border-skin-base-shade-dark"
  >
    <div class="space-y-4 pb-4 sm:space-y-8 md:py-6">
      <Heading tagType="h1" hClass="h1" classes="text-left max-w-xl">
        Recibe tips financieros exclusivos para los suscriptores
      </Heading>
      <TestimonioCard classes="hidden md:block" />
      <NewsletterForm text="No pierdo nada" classes="hidden lg:block" />
      <NewsletterFormMailerLite text="MailerLite" classes="hidden lg:block" />
    </div>
    <div class="flex items-end">
      <Image
        src={Bodyshot}
        alt={"Imagen de Alfonso Meneses"}
        format="avif"
        quality="mid"
      />
    </div>
  </div>
  <NewsletterForm
    text="No pierdo nada con probar"
    classes="lg:hidden border-b border-skin-base-shade dark:border-skin-base-shade-dark py-4 px-4 sm:px-6 bg-skin-fill dark:bg-skin-fill-dark"
  />
  <NewsletterFormMailerLite
    text="MailerLite"
    classes="lg:hidden border-b border-skin-base-shade dark:border-skin-base-shade-dark py-4 px-4 sm:px-6 bg-skin-fill dark:bg-skin-fill-dark"
  />
</Section>
