---
// Layouts
import MainLayout from "../layouts/MainLayout.astro";

// Componentes
import Heading from "../components/elements/Heading.astro";
import CategoryList from "../components/blog/CategoryList.astro";

// Utils
import { slugify } from "../utils/utils";

// Data
import { publishedBlogPosts } from "./blog.astro";

const category = Astro.params.catSlug as string;

// Filtrar posts de la categoría correspondiente
const catPosts = publishedBlogPosts.filter(
  (post) => slugify(post.data.category) === category,
);

// Ordenar posts por fecha descendente
catPosts.sort(
  (a, b) => b.data.updateDate.valueOf() - a.data.updateDate.valueOf(),
);
---

<MainLayout title={category} description="Categorías de los artículos">
  <Heading tagType="h1" hClass="h1">{category}</Heading>
  <section class="container mx-auto px-4 sm:px-6">
    <CategoryList posts={catPosts} />
  </section>
</MainLayout>
