---
// Layouts
import MainLayout from "../layouts/MainLayout.astro";

// Componentes
import Hamburger from "../components/header/Hamburger.astro";
import Header from "../components/header/Header.astro";

const title = "Acerca de";
const description =
  "En Retirate Joven y Rico estamos comprometidos a proporcionar el conocimiento para elevar IQ financiero de nuestros suscriptores.";
---

<MainLayout {title} {description}>
  <Header />
  <h1 class="text-4xl font-bold text-indigo-500">Acerca de</h1>
  <Hamburger />
</MainLayout>
