---
import Header from "../components/header/Header.astro";
import MainLayout from "../layouts/MainLayout.astro";

const title = "Inicio";
const description =
  "¡Edúcate! Te enseñamos finanzas personales para ayudarte a tomar el control de tu destino financiero y llevar el estilo de vida que simpre has deseado.";
---

<MainLayout {title} {description}>
  <Header />
  <h1 class="text-4xl font-bold text-indigo-500">Astro</h1>
</MainLayout>
