---
// Layouts
import MainLayout from "../layouts/MainLayout.astro";

// Componentes
import Hero from "../components/hero/Hero.astro";
import Testimonials from "../components/Testimonials.astro";
import Main from "../components/elements/Main.astro";
import Header from "../components/header/Header.astro";

const title = "Inicio";
const description =
  "¡Edúcate! Te enseñamos finanzas personales para ayudarte a tomar el control de tu destino financiero y llevar el estilo de vida que simpre has deseado.";
---

<MainLayout {title} {description}>
  <Header />
  <Main>
    <Hero />
    <Testimonials />
  </Main>
</MainLayout>
