---
// Librerías
import { XataClient } from "../xata";
import bcrypt from "bcryptjs";

// Layout
import MainLayout from "../layouts/MainLayout.astro";

// Componentes
import SigninForm from "../components/forms/SigninForm.astro";
import SectionHead from "../components/SectionHead.astro";

const xata = new XataClient({
  apiKey: import.meta.env.XATA_API_KEY,
  branch: import.meta.env.XATA_BRANCH,
});

const errors: Record<string, string> = {};

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const email = formData.get("email") as string;
  const password = formData.get("password") as string;

  const user = await xata.db.users.filter("email", email).getFirst();
  console.log(user);

  if (!user) {
    errors.email = "Correo electrónico incorrecto";
  } else {
    const authenticated = bcrypt.compareSync(password, user.password);
    console.log(authenticated);

    if (!authenticated) {
      errors.password = "Contraseña incorrecta";
    } else {
      Astro.cookies.set("userId", user.id, {
        httpOnly: true,
        secure: true,
      });
      Astro.cookies.set("userName", user.name, {
        httpOnly: true,
        secure: true,
      });
      Astro.cookies.set("userEmail", user.email!, {
        httpOnly: true,
        secure: true,
      });

      return Astro.redirect("/", 302);
    }
  }
}

const title = "Iniciar Sesión";
const description =
  "Inicia sesión para poder dejar comentarios y estar en contacto via correo electrónico.";
---

<MainLayout {title} {description}>
  <section class="container mx-auto space-y-16 px-4 sm:px-8">
    <SectionHead tagType="h1" hClass="h1">
      <Fragment slot="title">Iniciar sesión</Fragment>
      <Fragment slot="desc">Llena el formulario para iniciar sesión</Fragment>
    </SectionHead>
    <SigninForm text="Iniciar Sesión" {errors} />
  </section>
</MainLayout>
