---
import Icons from "./Icons.astro";
import Navbar from "./Navbar.astro";
---

<header>
  <div class="container mx-auto flex items-center justify-between p-4 sm:p-6">
    <a class="dark:text-white" href="/"
      ><span class="font-bold text-indigo-500">Retirate</span>JovenRico</a
    >
    <div class="flex items-center space-x-8">
      <Navbar />
      <Icons />
    </div>
  </div>
</header>
