---
// Componentes
import Hamburger from "./Hamburger.astro";
import Icons from "./Icons.astro";
import Logo from "./Logo.astro";
import Navbar from "./Navbar.astro";
---

<header>
  <div
    class="container mx-auto flex items-center justify-between px-4 py-4 sm:px-6 sm:py-8"
  >
    <Logo classes="text-xl" />
    <div class="flex items-center space-x-8">
      <Navbar
        classes="absolute inset-0 bg-indigo-500 md:bg-inherit hidden md:static md:block"
      />
      <Icons />
      <Hamburger classes="md:hidden z-10" />
    </div>
  </div>
</header>
