---
// Librerías
import { twMerge } from "tailwind-merge";
interface Props {
  classes?: string;
}

const { classes } = Astro.props;
---

<a class={twMerge("dark:text-white", classes)} href="/"
  ><span class="text-skin-accent font-bold">Retirate</span>JovenRico</a
>
