---
// Librerías
import { twMerge } from "tailwind-merge";

// Data
import { navMenu } from "../../data/navMenu";

interface Props {
  classes?: string;
}

const { classes } = Astro.props;
---

<nav
  id="navbar"
  class={twMerge(
    "md:font-semibold md:text-base md:text-skin-base dark:md:text-skin-base-dark",
    classes,
  )}
>
  <ul class="flex flex-col gap-12 md:flex-row">
    {
      navMenu.map((item) => (
        <li class="hover:text-skin-base-hvr hover:dark:text-skin-base-dark-hvr">
          <a href={item.linkURL}>{item.linkName}</a>
        </li>
      ))
    }
  </ul>
</nav>
