---
// Librerías
import { twMerge } from "tailwind-merge";

// Data
import { navMenu } from "../../data/navMenu";

interface Props {
  classes?: string;
}

const { classes } = Astro.props;
---

<nav
  id="navbar"
  class={twMerge("font-semibold text-slate-700 dark:text-slate-200", classes)}
>
  <ul class="flex flex-col gap-12 md:flex-row">
    {
      navMenu.map((item) => (
        <li>
          <a
            class="hover:text-indigo-500 dark:hover:text-indigo-400"
            href={item.linkURL}
          >
            {item.linkName}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
