---
import { Icon } from "astro-icon";
import SectionHead from "./SectionHead.astro";
import NewsletterForm from "./forms/NewsletterForm.astro";
import Section from "./elements/Section.astro";
---

<Section classes="grid place-items-center gap-8 lg:grid-cols-2">
  <div class="hidden w-full max-w-2xl py-6 md:order-1 md:block">
    <Icon name="new-message" />
  </div>
  <div class="space-y-8">
    <SectionHead tagType="h1" hClass="h1" align="text-left">
      <Fragment slot="title">
        Tips financieros probados directo a tu correo
      </Fragment>
      <Fragment slot="desc">
        Accede a tips exclusivos, aumenta tus ingresos y estrategias de
        inversión que no comparto en otro lado.
      </Fragment>
    </SectionHead>
    <NewsletterForm text="Pruébalo" />
  </div>

</Section>
