---
import { Icon } from "astro-icon";
import Heading from "./elements/Heading.astro";
import Logo from "./header/Logo.astro";

// Utilidades
import { currentYear } from "../utils/utils";
---

<footer class="bg-slate-950">
  <div
    class="container mx-auto grid grid-cols-2 gap-8 px-4 py-12
    sm:grid-cols-4
    sm:px-6 lg:grid-cols-5"
  >
    <div class="col-span-2 space-y-4">
      <Logo classes="text-white text-3xl" />
      <p class="max-w-xs text-xl">
        Pasa al siguiente nivel y toma control de tu destino financiero
      </p>
    </div>
    <div class="space-y-5">
      <Heading
        tagType="h3"
        hClass="h4"
        classes="text-skin-hdng-base-dark text-left mt-2"
      >
        Aprende
      </Heading>
      <ul class="space-y-2">
        <li class="transition hover:text-skin-accent-hvr">
          <a href="/blog">Blog</a>
        </li>
        <li class="transition hover:text-skin-accent-hvr">
          <a href="/boletin">Boletín</a>
        </li>
        <li class="transition hover:text-skin-accent-hvr">
          <a href="/cursos">Cursos</a>
        </li>
      </ul>
    </div>
    <div class="space-y-5">
      <Heading
        tagType="h3"
        hClass="h4"
        classes="text-skin-hdng-base-dark text-left mt-2"
      >
        Acerca de
      </Heading>
      <ul class="space-y-2">
        <li class="transition hover:text-skin-accent-hvr">
          <a href="/">Inicio</a>
        </li>
        <li class="transition hover:text-skin-accent-hvr">
          <a href="/acerca-de">Nosotros</a>
        </li>
        <li class="transition hover:text-skin-accent-hvr">
          <a href="/contacto">Contacto</a>
        </li>
      </ul>
    </div>
    <div class="space-y-4">
      <Heading
        tagType="h3"
        hClass="h4"
        classes="text-skin-hdng-base-dark text-left mt-2 hidden lg:block"
      >
        Conecta
      </Heading>
      <div class="flex gap-4">
        <a href="https://twitter.com/retiratejoven" target="_blank">
          <Icon
            class="w-8 transition hover:text-skin-accent-hvr"
            name="mdi:twitter"
          />
        </a>
        <a href="https://youtube.com" target="_blank">
          <Icon
            class="w-8 transition hover:text-skin-accent-hvr"
            name="mdi:youtube"
          />
        </a>
        <a href="https://instagram.com" target="_blank">
          <Icon
            class="w-8 transition hover:text-skin-accent-hvr"
            name="ri:instagram-fill"
          />
        </a>
      </div>
    </div>
  </div>
  <div
    class="border-skin-base-shade-dark container mx-auto grid grid-cols-1 gap-2 border-t px-4 py-6 text-skin-base-hvr sm:grid-cols-2 sm:px-6 lg:grid-cols-5"
  >
    <p class="order-last sm:col-span-2 lg:order-first lg:col-span-3">
      Retirate Joven y Rico &#174; {currentYear} Derechos Reservados
    </p>
    <a class="transition hover:text-skin-base" href="/politica-de-privacidad"
      >Política de privacidad</a
    >
    <a class="transition hover:text-skin-base" href="/terminos-y-condiciones"
      >Términos y condiciones</a
    >
  </div>
</footer>
