---
// Librerías
import { Icon } from "astro-icon";

// Componentes
import SectionHead from "../SectionHead.astro";

const features = [
  {
    title: "¿Cómo ganas el dinero?",
    description:
      "Millones de personas terminan la escuela, sólo para quedar atrapados en trabajos que no les gustan. Saben que les falta algo en la vida. Muchas personas también están atrapadas financieramente, ganando lo suficiente para sobrevivir, queriendo ganar más dinero pero no sabiendo qué hacer.",
    icon: "mdi:briefcase-clock-outline",
    post: "/educacion-financiera/el-cuadrante-del-flujo-de-dinero/",
  },
  {
    title: "¿Qué educación te falta?",
    description:
      "Una de las razones por las que los ricos se hacen más ricos, los pobres más pobres y la clase media batalla con las deudas, es que el tema del dinero no se enseña en la escuela. El niño puede graduarse con excelentes calificaciones, pero con la programación financiera y la mentalidad de una persona pobre.",
    icon: "mdi:education-outline",
    post: "/educacion-financiera/objetivos-educativos/",
  },
  {
    title: "¿Cómo generas tus ingresos?",
    description:
      "¿Alguna vez te has preguntado cómo es que alguien que tiene dos y hasta tres trabajos, siempre está batallando con el dinero, mientras que la persona que parece estar siempre de vacaciones nunca parece estar trabajando? Para explicar ésto necesitas entender las diferentes formas de generar dinero.",
    icon: "mdi:account-cash-outline",
    post: "/educacion-financiera/tipos-de-ingresos/",
  },
];
---

<section class="container mx-auto space-y-16 px-4 sm:px-6">
  <SectionHead tagType="h2" hClass="h2">
    <Fragment slot="title">
      ¿Te has preguntado qué hacen diferente los ricos?
    </Fragment>
    <Fragment slot="desc">
      Tus respuestas a estas tres preguntas te ubicarán respecto a si haces lo
      mismo que los ricos o tienes que ajustar.
    </Fragment>
  </SectionHead>

  <div class="mx-auto grid max-w-7xl gap-8 sm:grid-cols-2 lg:grid-cols-3">
    {
      features.map((item) => (
        <a href={item.post}>
          <div class="space-y-6 rounded-lg p-4 transition hover:bg-skin-fill-shade dark:hover:bg-skin-fill-shade-dark lg:p-6">
            <Icon
              class="w-1h-20 h-20 rounded border border-skin-base-shade bg-white p-5 text-skin-accent dark:border-skin-base-shade-dark dark:bg-skin-fill-dark"
              name={item.icon}
            />
            <div>
              <h3 class="text-lg font-semibold">{item.title}</h3>{" "}
              <p class="mt-2 leading-relaxed text-slate-500">
                {item.description}
              </p>
            </div>
            <Icon
              name="ph:arrow-right-light"
              class="w-8 transition hover:translate-x-2"
            />
          </div>
        </a>
      ))
    }
  </div>
</section>
