---
// Librerías
import { Image } from "astro:assets";

// Componentes
import Heading from "../elements/Heading.astro";
import NewsletterForm from "../forms/NewsletterForm.astro";
import Section from "../elements/Section.astro";

// Imágenes
import Joel from "../../assets/testimonials/joel-sanchez.jpg";
---

<Section classes="space-y-10 border-b border-skin-base-shade dark:border-skin-base-shade-dark pb-16 sm:pb-24">
  <Heading tagType="h1" hClass="h1" classes="max-w-3xl mx-auto">
    Recibe tips financieros exclusivos
  </Heading>
  <div class="mx-auto flex items-center justify-center gap-8">
    <div class="h-16 w-16 shrink-0 overflow-hidden rounded-full">
      <Image src={Joel} alt="Foto de Joel Sánchez" width={70} />
    </div>
    <p class="max-w-xs shrink">
      Recibe los mismos tips que utlicé para retirarme antes de los <strong
        >50 años</strong
      >
    </p>
  </div>
  <NewsletterForm text="Inténtalo" classes="max-w-md mx-auto" />
</Section>