---
// Types
import type { CollectionEntry } from "astro:content";

// Componentes
import BlogCard from "./BlogCard.astro";
import Section from "../elements/Section.astro";

interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<Section classes="space-y-12 sm:space-y-16">
  {posts.map((post) => <BlogCard post={post} />)}
</Section>