---
import type { MarkdownHeading } from "astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<nav>
  <ul class="space-y-4 border-l border-skin-accent">
    {
      headings.map((heading) => (
        <li
          class={`transition hover:text-skin-base-hvr dark:hover:text-skin-base-dark-hvr ${
            heading.depth === 3 ? "pl-8" : "pl-4"
          }`}
        >
          <a href={`#${heading.slug}`}>{heading.text}</a>
        </li>
      ))
    }
  </ul>
</nav>
