---
interface Props {
  href: string;
  size?: "sm" | "md" | "lg";
  block?: boolean;
  style?: "outline" | "primary" | "inverted" | "muted" | "navbar";
  class?: string;
  [x: string]: any;
}

const {
  href,
  block,
  size = "lg",
  style = "primary",
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  lg: "px-5 py-2.5",
  md: "px-4 py-2",
  sm: "px-5 md:px-3 py-1.5 text-3xl md:text-sm",
};

const styles = {
  outline:
    "bg-transparent border-2 border-skin-accent text-skin-accent font-semibold hover:text-white hover:bg-skin-accent transition",
  primary:
    "bg-skin-accent text-white hover:bg-skin-accent-hvr hover:shadow-lg  border-2 border-transparent",
  inverted: "bg-skin-fill-shade text-skin-accent border-2 border-transparent",
  muted:
    "bg-skin-fill-very-dark hover:bg-gray-200   border-2 border-transparent",
  navbar:
    "bg-white text-skin-accent text-3xl md:bg-transparent border-2 border-white md:border-skin-accent md:text-skin-accent font-semibold md:hover:text-white md:hover:bg-skin-accent transition",
};
---

<a
  href={href}
  {...rest}
  class:list={[
    "rounded text-center ring-gray-200 ring-offset-2 transition focus-visible:ring-2",
    block && "w-full",
    sizes[size],
    styles[style],
    className,
  ]}
  ><slot />
</a>
