---
// Librerias
import {twMerge} from 'tailwind-merge'

interface Props {
  classes?: string
}

const {classes} = Astro.props
---

<section class:list={twMerge(["container mx-auto px-4 sm:px-8", classes])}>
  <slot />
</section>