---
// CSS
import "../index.css";

// Librerías
import "@fontsource-variable/inter";

// Layouts
import BaseHead from "./BaseHead.astro";

// Componentes
import Header from "../components/header/Header.astro";
import Footer from "../components/Footer.astro";
import Main from "../components/elements/Main.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <BaseHead {title} {description} />
  <body
    class="space-y-8 bg-skin-fill text-skin-base dark:bg-skin-fill-dark dark:text-skin-base-dark sm:space-y-16"
  >
    <Header />
    <Main>
      <slot />
    </Main>
    <Footer />
  </body>
</html>
