---
import "@fontsource-variable/inter";

import BaseHead from "./BaseHead.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <BaseHead {title} {description} />
  <body
    class="space-y-16 bg-white text-slate-500 dark:bg-slate-900 dark:text-slate-400"
  >
    <slot />
  </body>
</html>
